.title{
    color: purple;
    font-size: 50px;
    text-align: center;
    padding: 2%;
    background-color: pink;
}

.chart {
    width: 1000px;
    height: 800px;

}

.circ_head {
    stroke: black; 
    fill: lightgray;
    stroke-width: 5;
}

.circ_ears {
    stroke: black; 
    fill: lightgray;
    stroke-width: 5;
}

.circ_ears_inner {
    stroke: white; 
    fill: white;
    stroke-width: 5;
}

.circ_eye {
    stroke: black; 
    fill: white;
    stroke-width: 5;
}

.circ_eye_inner {
    stroke: black; 
    fill: black;
    stroke-width: 5;
}

.ellipse_nose{
	stroke: black; 
    fill: black;
    stroke-width: 5;
}

.mouth{
    fill: black;
    stroke: black;
    stroke-width: 5;
}

.rect{
	stroke: black;
	stroke-width: 3;
	fill: yellow;
}
